.grominet 
{
	width: 3325px;
	height: 1442px;
	background-image: url(./grosminet.png);
	text-align:center;
	position:relative;
	display:flex;
	flex-direction:row;
}

.main
{
	display:flex;
	justify-content:center;
	margin-top:10%;
}

.grominet1
{
	left:80px;
	width:673px;
	height:1442px;
}


.grominet1:hover
{
	background-color: green;
	opacity:0.7;
}

.grominet1position
{
	height:513px;
	width:513px;
	padding:80px;
	background: url(./grosminet.png) 0px -384.5px no-repeat;
}

.grominet2
{
	left:673px;
	width:1020px;
	height:1442px;
}


.grominet2:hover
{
	background-color: red;
	opacity:0.7;
}

.grominet2position
{
	height:953px;
	width:860px;
	padding:80px;
	background: url(./grosminet.png) -673px -164.5px no-repeat;
}

.grominet3
{
	left:1693px;
	width:1632px;
	height:1442px;
}


.grominet3:hover
{
	background-color: yellow;
	opacity:0.7;
}

.grominet3position
{
	height:1282px;
	width:1472px;
	padding:80px;
	background: url(./grosminet.png) -1693px -0px no-repeat;
}

